<%- include('includes/head') %>
<%- include('includes/messages') %>
    <div class="container">
        <h1>Cadastro</h1>
        <form action="/login/cadastro" method="post">
            <div>
                <label>Nome:</label><br>
                <input type="text" name="nome" id="">
            </div>
            <div>
                <label>Email:</label><br>
                <input type="email" name="email" id="">
            </div>
            <div>
                <label for="">Senha:</label><br>
                <input type="password" name="password" id="">
            </div>
            <div>
                <button type="submit">Cadastrar</button>
            </div>
        </form>
        <div class="cadastro">
            <a href="/login">Voltar</a>
        </div>
    </div>
<%- include('includes/footer') %>